@import 'tailwindcss';

/* --- Josh's Reset 중 보존할 만한 부분 --- */

body {
  -webkit-font-smoothing: antialiased; /* macOS 폰트 렌더링 향상 */
}

input,
button {
  background: none;
  border: none;
}

textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
